mat-card {
    max-width: 300px;
    padding: 0.5em 1em;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}