<mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #drawer mode="over">
        <div class="sidebar content">
            <section>
                <app-search></app-search>
                <button mat-button class="item">
                    <mat-icon>home</mat-icon>
                    Home
                </button>
            </section>
            <mat-divider></mat-divider>
            <section>

                <button mat-button class="item">
                    <mat-icon>self_improvement</mat-icon>
                    Authors
                </button>

                <button mat-button class="item">
                    <mat-icon>face</mat-icon>
                    Characters
                </button>

                <button mat-button class="item">
                    <mat-icon>sell</mat-icon>
                    Tags
                </button>

            </section>
            <mat-divider></mat-divider>
            <section>
                <button mat-button class="item">
                    <mat-icon>photo_library</mat-icon>
                    Pictures
                </button>

                <button mat-button class="item">
                    <mat-icon>video_library</mat-icon>
                    Videos
                </button>


            </section>
        </div>
    </mat-drawer>
    <div class="content">
        <ng-content></ng-content>
    </div>
</mat-drawer-container>