<mat-drawer-container [hasBackdrop]="false" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
    <mat-drawer #drawer mode="over" [autoFocus]="false">
        <div class="sidebar content">
            <section class="search-section">
                <app-search></app-search>
            </section>
            <section>
                <button mat-button class="item" [routerLink]="['/']">
                    <mat-icon>home</mat-icon>
                    Home
                </button>
            </section>
            <mat-divider></mat-divider>
            <section>

                <button mat-button class="item">
                    <mat-icon>self_improvement</mat-icon>
                    Authors
                </button>

                <button mat-button class="item">
                    <mat-icon>face</mat-icon>
                    Characters
                </button>

                <button mat-button class="item">
                    <mat-icon>sell</mat-icon>
                    Tags
                </button>

            </section>
            <mat-divider></mat-divider>
            <section>
                <button mat-button class="item">
                    <mat-icon>playlist_play</mat-icon>
                    Playlists
                </button>

                <button mat-button class="item">
                    <mat-icon>photo_library</mat-icon>
                    Pictures
                </button>

                <button mat-button class="item">
                    <mat-icon>video_library</mat-icon>
                    Videos
                </button>


            </section>
        </div>
    </mat-drawer>
    <div class="content margin-auto">
        <ng-content></ng-content>
    </div>
</mat-drawer-container>