section {
    margin: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    
}

.buttons {
    flex-direction: row;
}
.content {
    margin: auto;

    max-width: 1000px;

    padding: 1em;
}