<mat-form-field class="full-width">
    <mat-label>{{ label }}</mat-label>
    <input type="password" matInput [formControl]="formControl" [errorStateMatcher]="matcher"
        placeholder="{{ placeholder }}" name="password" autocomplete="current-password" autofill>

    @if (formControl.hasError('required')) {
    <mat-error>{{ label }} is <strong>required</strong></mat-error>
    }
    @if (formControl.hasError('minlength')) {
    <mat-error>{{ label }} is too short</mat-error>
    }
</mat-form-field>