<mat-form-field class="full-width">
    <mat-label>{{ label }}</mat-label>
    <input type="{{hide ? 'password' : 'text'}}" matInput [formControl]="formControl" [errorStateMatcher]="matcher"
        placeholder="{{ placeholder }}" name="{{name}}" autocomplete="{{autocomplete}}" autofill>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    @if (formControl.hasError('required')) {
    <mat-error>{{ label }} is <strong>required</strong></mat-error>
    }
    @if (formControl.hasError('minlength')) {
    <mat-error>{{ label }} is too short</mat-error>
    }
</mat-form-field>